consul {
        address =  "127.0.0.1:8500"  // Your Consul domain
}

log_level = "warn"

template {
  // Consul template to run
  source      = "/var/consul/template/go-boilerplate.main.ctmpl"

  // Consul output file to be updated with template run output
  destination = "/etc/go-boilerplate/production/go-boilerplate.main.ini"

  // Commands to be executed after the destination file is updated
  command = "export HOSTNAME=$(hostname) && \
             env YOUR_ENV=production go-boilerplate -test && \
             (systemctl reload go-boilerplate.service || systemctl restart go-boilerplate.service)"

  // Timeout for the command execution
  command_timeout = "90s"
}
